<script setup lang="ts">
import DummyComponents from '@/components/DummyComponents.vue';
import { provide, ref } from 'vue'
const num1 = ref(0)
provide('num1', num1)
provide('num1Click', num1Click)
function num1Click() {
  num1.value++
} 
</script>

<template>
  <div style="text-align: center">
    <img style="border-radius: 50%" src="../assets/pic.png" alt="" />
    <h3>สวัสดีชาวโลก ผม ....</h3>
    {{ num1 }}
    <DummyComponents></DummyComponents>
  </div>
</template>
