<script setup lang="ts">
import NumberButton from '@/components/NumberButton.vue';
import { ref } from 'vue'
const num1 = ref(0)
function num1Click(num: number) {
  console.log('Num1 Click: ' + num);
  num1.value = num
} 
</script>

<template>
  <div style="text-align: center">
    <img style="border-radius: 50%" src="../assets/pic.png" alt="" />
    <h3>สวัสดีชาวโลก ผม ....</h3>
    {{ num1 }}<NumberButton :num="1" @numclick="num1Click"></NumberButton>
    <NumberButton :num="2"></NumberButton>
    <NumberButton :num="3"></NumberButton>
  </div>
</template>
